@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background: rgb(164, 6, 143);
  background: linear-gradient(
    90deg,
    rgba(164, 6, 143, 1) 4%,
    rgba(136, 32, 157, 1) 16%,
    rgba(125, 61, 186, 1) 43%,
    rgba(105, 86, 208, 1) 61%,
    rgba(0, 247, 255, 1) 100%
  );
  height: 100vh;
  width: 100vw;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 80vh;
    width: 100vw;
}

h1{
    margin-top: 15px;
    font-size: 50px;
    color: rgb(234, 203, 207);
}

.calculator{
    margin-top: 40px;
    background: rgba(163, 104, 236, 0.5);
    padding: 5px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.first-row{
    display: flex;
    align-items: center;
}

.screen{
    width: 235px;
    height: 70px;
    margin-right: 10px;
    margin-left: 7px;
    background: rgba(39, 31, 43, 0.5);
    color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.previous-value{
    font-size: 20px;
    margin-right: 5px;
}

.current-value{
    font-size: 30px;
    margin-right: 5px;
}

button{
    width: 70px;
    height: 70px;
    margin: 5px;
    font-size: 27px;
    border-radius: 10px;
    border: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: rgba(219, 196, 242, 0.5);
    border: 2px solid rgb(82, 69, 93);
    color: rgb(69, 77, 81);
}

.footer{
    height: 20vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer a{
    margin-left: 10px;
}